/* Общее оформление строки таблицы */
tr {
  background-color: #f0f0f0;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

/* Оформление ячеек заголовка */
th {
  background-color: #ddd;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  word-wrap: break-word; /* Добавлено для переноса слов в заголовках */
}

/* Оформление текста внутри ячеек (особенно для многострочного текста) */
th br {
  display: block;
  margin-bottom: 5px;
}

/* Стили для ячеек (td) */
td {
  word-wrap: break-word; /* Перенос длинных слов */
  white-space: nowrap; /* Запрет переноса строк в ячейках */
  overflow: hidden;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

/* Общие стили для таблицы */
table {
  width: auto; /* Важно: Автоматическая ширина таблицы */
  min-width: 1500px; /* Установи минимальную ширину таблицы (подбери значение) */
  border-collapse: collapse;
  margin: 3px;
  table-layout: fixed; /* Фиксированная ширина столбцов */
}


/* Стили для "зеленых" и "красных" ячеек */
.green {
  background-color: green;
  color: black;
}

.red {
  background-color: red;
  color: black;
}

.date-cell {
  white-space: nowrap; /* Запрещает перенос строк в ячейках с датами */
}