/* Общие стили для таблицы */
table {
  width: auto; /* Важно: Автоматическая ширина таблицы */
  min-width: 1500px; /* Установи минимальную ширину таблицы (подбери значение) */
  border-collapse: collapse;
  margin: 3px;
  table-layout: fixed; /* Важно: фиксированная ширина столбцов */
}

/* Стили для заголовков */
th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  border: 1px solid #ddd;
}

/* Стили для ячеек */
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word; /* Перенос длинных слов, не разбивая их */
  vertical-align: top;
  white-space: pre-wrap; /* Добавлено для сохранения переносов строк и пробелов */
  /* Добавлено: */
  overflow: hidden; /*  Скрываем содержимое, выходящее за границы ячейки */
}

/* Стили для ячеек с датами */
.date-cell {
  white-space: nowrap; /* Запрещает перенос строк в ячейках с датами */
}

/* Чередование цветов строк */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Стили для переноса строк в ячейках с именами сотрудников (возможно, уже не нужно) */
td br {
  display: block;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  overflow-y: auto; /* Включаем вертикальную прокрутку (и скроем её) */
  max-height: calc(100vh - 150px);
  padding-bottom: 20px;
}

/* Скрываем вертикальный скроллбар в WebKit браузерах (Chrome, Safari) */
.table-container::-webkit-scrollbar-vertical {
  width: 0px;
  background: transparent;
}
/* Стили для ячеек в "шапке" таблицы */
.sticky-header td,
.sticky-header th {
  color: #333;
  border: 1px solid #ddd;
}


.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}